{{#extends "base"}}
{{#block "title"}}Students{{/block}}

{{#block "content"}}
<div class="pt-5 pb-1 mb-4 d-flex w-100">
  <div>
    <h1>Student Information</h1>
    <div>
      {{!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> --}}
    </div>
  </div>
  <div class="ms-auto mt-auto">
    <a href="/student/enroll" class="btn btn-primary align-self-end addNew">+ New Student</a>
  </div>
</div>
<table class="table" colspan="1">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">StudentID</th>
      <th scope="col">Name</th>
      <th scope="col">School Email</th>
      <th scope="col">Programme</th>
      <th scope="col">Start Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each students}}
    <tr>
      {{!-- add 1 to make the index start at 1, is a function from handlebars helpers --}}
      <td>{{add 1 @index}}</td>
      <td>{{student_id}}</td>
      <td>{{first_name}} {{last_name}}</td>
      <td>{{student_email}}</td>
      <td>{{programme_name}}</td>
      <td>{{enroll_date}}</td>
      <td>
        <div class="d-flex"><a class="edit pe-1" href="/student/edit/{{student_id}}"><i class="bi bi-pencil-square"></i>
          </a><a class="delete" href="/student/delete/{{student_id}}"><i class="bi bi-trash"></i></a></div>
      </td>

    </tr>
    {{/each}}
  </tbody>
</table>
{{/block}}
{{/extends}}